   body {
       margin: 5%;

   }

   section {
       display: flex;
   }

   h1 {
       font-size: 50px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       color: rgb(183, 213, 240);
   }

   p {
       font-size: 30px;
       color: white;
   }

   #show-bg {
       background-image: url(./donate-today-main/images/donation9.jpg);
       width: 500%;
       height: 400px;
       background-size: cover;
       color: rgb(179, 119, 40);
       padding: 20px;
       background-color: rgb(215, 138, 22);


   }


   h6 {
       text-align: center;
       margin: 5px;
       padding: 20px;
       font-size: 60px;
   }

   .flex {

       text-align: center;
   }


   .link-button {
       text-decoration: none;
       text-align: right;
       font-size: 30px;
       background-image: linear-gradient(yellow, green);
       padding: 10px, 40px;

   }


   #today {
       color: black;
       display: flex;
       margin: 5%;
   }

   .felxible {
       display: flex;
       margin: 50px;

   }

   .git {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 50px, 40px;
       font-size: 30px;

   }

   .add {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 100%;
       font-size: 30px;

   }

   .bye {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 60%;
       font-size: 30px;
   }

   .body {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 60%;
       font-size: 30px;
   }

   #done {
       display: flex;
   }

   #okey {

       display: flex;
   }

   h4 {
       text-align: center;
       font-size: 40px;
   }

   #deploy {
       color: black;
       text-align: center;
   }

   .seelet {
       margin-top: 70px;
       padding: 50px;
   }

   .banner-coniter {
       display: flex;
       text-align: center;
       margin: 4px;
   }

   .card {
       width: 400px;
       height: 350px;
       border: 1px solid gray;
       text-align: center;
       box-shadow: 8px 8px 16px gray;
       padding: 20px;
       border-radius: 10px;
       background-color: rgb(111, 199, 202);

   }

   .family {
       color: black;
   }

   .source {
       display: flex;
   }

   .fream {
       margin: 70px;
       padding: 50px;
   }

   .style {
       width: 400px;
       height: 350px;
       border: 10px;
       text-align: center;
       box-shadow: 8px 8px 16px gray;
       padding: 20px;
       border-radius: 10px;
       background-color: cornflowerblue;
       display: flex;
   }

   .baby {
       margin: 50px;
       padding: 50px;
   }

   .web {
       width: 400px;
       height: 350px;
       border: 10px;
       text-align: center;
       box-shadow: 8px 8px 16px gray;
       padding: 20px;
       border-radius: 20px;
       background-color: darkcyan;
       display: flex;
   }