   body {
       margin: 3%;
   }

   section {
       display: flex;
   }

   h1 {
       font-size: 50px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       color: rgb(183, 213, 240);
   }

   p {
       font-size: 30px;
       color: aliceblue
   }

   #show-bg {
       background-image: url(./donate-today-main/images/donation9.jpg);
       width: 500%;
       height: 400px;
       background-size: cover;
       color: rgb(179, 119, 40);
       padding: 20px;
       background-color: rgb(215, 138, 22);


   }

   h6 {

       margin: 5px;
       padding: 20px;
       font-size: 60px;
   }

   #sir {
       text-align: center;
   }

   .link-button {
       text-decoration: none;
       text-align: right;
       font-size: 30px;
       background-image: linear-gradient(yellow, green);
       padding: 10px, 40px;

   }

   .flex {
       display: flex;
       justify-content: center;
   }

   #today {
       color: black;
       text-align: center;
       margin: 5%;
   }

   .felxible {
       display: flex;
       margin: 50px;

   }

   .git {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 50px, 40px;
       font-size: 30px;

   }

   .add {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 100%;
       font-size: 30px;

   }

   .bye {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 60%;
       font-size: 30px;
   }

   .body {
       height: 100px;
       width: 200px;
       margin: 20px;
       padding: 50px;
       border: 10px, solid, gray;
       box-shadow: 60%;
       font-size: 30px;
   }

   #done {
       display: flex;
   }

   #okey {

       display: flex;
   }

   h4 {
       text-align: center;
       font-size: 40px;
   }

   #deploy {
       color: black;
       text-align: center;
   }